@font-face {
    font-family: 'Euclid Square';
    src: local('Euclid Square Bold'), local('EuclidSquare-Bold'),
        url('EuclidSquare-Bold.woff2') format('woff2'),
        url('EuclidSquare-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: local('Euclid Square Regular'), local('EuclidSquare-Regular'),
        url('EuclidSquare-Regular.woff2') format('woff2'),
        url('EuclidSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: local('Euclid Square SemiBold'), local('EuclidSquare-SemiBold'),
        url('EuclidSquare-SemiBold.woff2') format('woff2'),
        url('EuclidSquare-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: local('Euclid Square Medium'), local('EuclidSquare-Medium'),
        url('EuclidSquare-Medium.woff2') format('woff2'),
        url('EuclidSquare-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
